@charset "utf-8";
@font-face {
font-family:MyriadPro-Light;src:url(/fonts/MyriadProLight.ttf)
}
@font-face {
font-family:B52;src:url(/fonts/B52.TTF)
}
body{margin:0;padding:0;font-family:MyriadPro-Light;background:100% no-repeat #222;}
a{color:#fff;text-decoration:none;-webkit-transition-duration:.5s;-o-transition-duration:.5s;-moz-transition-duration:.5s;transition-duration:.5s}
a:hover{text-decoration:underline;color:#f09b4b}
a.logoOrange{width:200px;height:45px;display:block;background:url(/images/logo.png) 100% no-repeat}
a.logoOrange:hover{background:url(/images/logoO.png)}
.globalHeader{position:absolute;top:0;width:100%;color:#fff;z-index:1111;padding-top:1%}
.logo{display:inline-block;padding-left:10%;width:40%}
.menu{display:inline-block;width:42%;text-align:right;padding-right:7%;vertical-align:middle;margin-bottom:3%;font-size:.8em}
.firstBG{width:100%;height:100vh;position:relative}
.title{color:#fff;text-align:center;margin:auto;font-size:1.5em;top:40%;width:100%;position:absolute}
.title .titleBG{margin:auto}
.onlyThreeThings{width:100%;text-align:center;color:#000;font-size:1.3em;position:absolute;top:40%}
.oneThing{display:inline-block;width:20%}
.oneThing img{max-width:100%;max-height:160px;max-width:200px}
.secondBG{text-align:center;height:100vh;position:relative;background:#f6f4ec}
img.site{width:85%}
.imageSite{width:100%}
.titleS{width:100%}
.btn{display:inline-block;padding:.8em;border:1.5px solid rgba(0,0,0,.25);border-radius:3px;color:#000;text-transform:uppercase;font-size:.8em;text-align:center;text-decoration:none;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.btn:hover{border-color:rgba(0,0,0,.25);text-decoration:none;color:#fff;background:rgba(0,0,0,.5)}
.thirdBG{text-align:center;color:#fff;height:100vh;position:relative;background:#77818c}
.s4BG{text-align:center;color:#fff;height:100vh;position:relative;background:#18804a}
.lozBG{text-align:center;color:#fff;height:100vh;position:relative;background:#281e1c}
.esqBG{text-align:center;color:#fff;height:100vh;position:relative;background:#2f60ad}
.otherBG{text-align:center;color:#fff;height:100vh;position:relative;background:url(/images/bg_others.jpg)}
.lastBG{text-align:center;color:#000;height:100vh;position:relative;background:#fff}
.lastText{text-align:center;margin:auto;width:100%;position:absolute;top:20%}
.bigDickInTown{top:10%;position:absolute;width:100%}
.arrowBtnDiv{position:absolute;bottom:5%;width:100%;height:25px;text-align:center}
a.arrowBtn{width:50px;height:50px;display:inline-block;opacity:.3;background:url(/images/arrow.png) 100% no-repeat}
a.arrowBtnDark{width:50px;height:50px;display:inline-block;opacity:.3;background:url(/images/arrow_dark.png) 100% no-repeat}
a.arrowBtn:hover{opacity:.8}
a.arrowBtnDark:hover{opacity:.8}
.opachal{left:25%;position:absolute}
.opachar{right:25%;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);position:absolute}
a.mail{font-weight:700;color:#f09b4b;text-decoration:underline}
a.mail:hover{color:#222}
a.phone{font-weight:1000;color:#222222;}
a.phone:hover{color: #000}
.footer{font-family:B52;position:absolute;width:95%;text-align:left;bottom:0;color:rgba(0,0,0,.25);padding-top:25px;padding-bottom:20px;padding-left:5%;background:#f1ebdf}