html, body {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	min-height:100%;
}
header {
	background: #D9E7FE;
	padding: 25px;
}
#logo {
	width: 150px;
	height: 216px;
	background-image: url("../img/kpihub.png");
	background-size: 100%;
	margin: auto;
}
#title {
	text-align: center;
	color: #444;
}
.bs-callout {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #eee;
    border-left-width: 5px;
    float: none !important;
    border-radius: 3px;
    border-left-color: #1b809e;
}
footer {
	background: #D9E7FE;
	padding: 10px;
	font-size: 0.8em;
	text-align: right;
	color: #666;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.col-xs-3 img{
	border: 1px solid #e7e7e7;
}
a:hover img{
	opacity: 0.8;
}
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px), only screen and (max-width: 950px){
	.col-xs-3,
	.col-xs-6 {
		float: none !important;
		width: 100% !important;
		margin: 20px 0 !important;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (min-width: 749px) and (max-width: 950px){
	.col-xs-3,
	.modal-body .col-xs-6 {
		float: left !important;
		width: 50% !important;
	}
}